/* estilo del index */
html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0; }

.pagina {
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  background-color: #181818; }

.fotos {
  width: 100%;
  height: 790px; }

.titulos {
  color: black;
  background-color: #0088a9; }

.tituloss {
  color: black;
  background-color: #0088a9; }

.textopostv {
  background-color: withe; }

.info {
  margin-top: 10px;
  color: #DCDCDC;
  font-size: 22px; }

.imagenes {
  width: 500px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-top: 10px; }

/* header de todas las paginas */
.agencia {
  width: 880px;
  height: 496px;
  border-radius: 10px;
  margin-right: 20px; }

.descripcion {
  font-size: 32px;
  color: #DCDCDC;
  padding-bottom: 10px;
  background-color: #181818; }

.futer {
  color: #DCDCDC; }

/* catalogo de vehiculos */
/* formulario de contacto */
.texto {
  padding-right: 50px;
  padding-left: 100px;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  word-spacing: 1px;
  color: #DCDCDC;
  line-height: 1.5em; }

.contenedor {
  width: 100%;
  margin-top: 1200px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }
  .contenedor .card {
    width: 330px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #ABB2B9;
    color: white; }
    .contenedor .card:hover {
      transform: translateY(-15px);
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5); }
    .contenedor .card img {
      width: 330px;
      height: 220px; }
    .contenedor .card h4 {
      font-weight: 600; }
    .contenedor .card p {
      padding: 0 1rem;
      font-size: 16px;
      font-weight: 300; }
    .contenedor .card a {
      font-weight: 500;
      text-decoration: none;
      color: #3498db; }

.logo {
  padding-top: 20px; }

li {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none; }

a {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none; }

button {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none; }

.contenedor_contacto {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1px);
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 10px; }

/* fotos parrafors y descripciones*/
/* servicio de postventa*/
/* footer */
.formulariomb {
  width: 800px;
  height: 400px;
  border: 1px;
  border-radius: 20px;
  padding-bottom: 10px; }

.iframegoogle {
  width: 50%;
  height: 1100px;
  border-radius: 25px;
  padding-top: 20px; }

.botones {
  letter-spacing: 8px;
  word-spacing: 5px; }

.contactos {
  align-items: center; }

.imgtrayectoria {
  border-radius: 10px;
  width: 100%;
  height: auto; }

.agencia1 {
  width: 1200px;
  height: 500px; }

.cuadroventa {
  background-color: #C0C0C0;
  border-radius: 10px;
  backdrop-filter: blur(1px);
  border: solid 1px rgba(255, 255, 255, 0.5);
  margin-top: 15px;
  align-items: center; }

.pagin {
  font-family: 'Maven Pro', sans-serif;
  background-color: #696969; }

.contenedor1 {
  width: 100%;
  margin-top: 1200px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }
  .contenedor1 .card1 {
    width: 800px;
    height: 1000px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #181818;
    color: white; }
    .contenedor1 .card1:hover {
      transform: translateY(-15px);
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5); }
    .contenedor1 .card1 img {
      width: 800px;
      height: 450px; }
    .contenedor1 .card1 h4 {
      font-weight: 600; }
    .contenedor1 .card1 p {
      padding: 0 1rem;
      font-size: 16px;
      font-weight: 300; }
    .contenedor1 .card1 a {
      font-weight: 500;
      text-decoration: none;
      color: #3498db; }

.logo {
  padding-top: 20px; }

li {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none; }

a {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none; }

button {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none; }

.futer {
  text-align: center;
  color: white; }
