@import "_estilo";

.botones {
  letter-spacing: 8px;
  word-spacing: 5px; }

.contactos {
  align-items: center; }

.imgtrayectoria {
  border-radius: $px1;
  width: 100%;
  height: auto; }

.agencia1 {
  width: 1200px;
  height: 500px; }



